.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    margin-bottom: 40px;
}

.fixed-sidebar {
    position: fixed;
    top: 60px;
    /* left: 0; */
    /* width: 200px; */
    z-index: 1000;
}